In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

In [4]:
df = pd.read_csv('nrc_emotion_lexicon.csv')
df.head()

,English,Positive,Negative,Anger,Anticipation,Disgust,Fear,Joy,Sadness,Surprise,Trust
0,aback,0,0,0,0,0,0,0,0,0,0
1,abacus,0,0,0,0,0,0,0,0,0,1
2,abandon,0,1,0,0,0,1,0,1,0,0
3,abandoned,0,1,1,0,0,1,0,1,0,0
4,abandonment,0,1,1,0,0,1,0,1,1,0

In [7]:
X = df['English']
y = df.iloc[:, 1:]
X

0              aback
1             abacus
2            abandon
3          abandoned
4        abandonment
            ...
14177           zone
14178            zoo
14179     zoological
14180        zoology
14181           zoom
Name: English, Length: 14182, dtype: object